<ion-content class="ion-padding-horizontal">
    <ion-grid class="h-100">
        <ion-row class="ion-margin-vertical ion-justify-content-center row">
            <ion-col size="12" class="document-preview">
                <ion-img class="preview-img" src="{{image}}" *ngIf="image"></ion-img>
                <ion-text class="ion-text-left ion-text-custom">
                    <h6 class="ion-no-margin LatoMedium name ion-text-capitalize">{{userName}}</h6>
                </ion-text>
            </ion-col>

            <ion-col size="12" class="document-preview ion-margin-top">
                <ion-text class="ion-text-left ion-margin-vertical ion-text-custom">
                    <h5 class="ion-no-margin LatoMedium name ion-text-capitalize">{{userName}},</h5>
                    <p class="ion-no-margin">Jane is reaching out for your help with this:</p>
                </ion-text>
            </ion-col>

            <ion-col size="12" class="main-col document-preview">
                <ion-row class="ion-justify-content-center ion-padding rendered-row h-100">
                    <ion-col size="12" id="content-text" *ngIf="!renderedImage" style="max-height: 100%; overflow-y: auto;">
                    </ion-col>

                    <ion-col size="12" *ngIf="renderedImage" class="h-100">
                        <ion-img [src]="renderedImage" style="height: 100%"></ion-img>
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-row *ngIf="isSentRes" class="ion-justify-content-center ion-padding rendered-row" style="height: 20px">
                <img src="assets/images/ok-animated20.gif" alt="" style="width:20px;height:20px;">
            </ion-row>
            <ion-grid class="h-50">
                <ion-col size="12" class="document-preview">
                    <button (click)="inviteButton('1')" ion-button
                            class="happy-btn btn ion-justify-content-center ion-align-items-center">
                        Yes, happy to help now
                    </button>
                </ion-col>
                <ion-col size="12" class="document-preview">
                    <button (click)="inviteButton('2')" ion-button
                            class="there-btn btn ion-justify-content-center ion-align-items-center">
                        I'll be available in 5 minutes
                    </button>
                </ion-col>
                <ion-col size="12" class="document-preview">
                    <button (click)="inviteButton('3')" ion-button
                            class="sorry-btn btn ion-justify-content-center ion-align-items-center">
                        Sorry, not available now
                    </button>
                </ion-col>
            </ion-grid>

        </ion-row>
    </ion-grid>
</ion-content>
