.ion-header {
  height: 77px;
  background: url("/assets/images/home-bg.png") 100% 100% no-repeat;
  background-size: cover;
  position: relative;

  .back-arrow {
    height: 25px;
    width: 25px;

    img {
      height: 25px;
      width: 25px;
    }
  }

  .main-heading {
    font-family: LatoBold;
    font-size: 22px;
    line-height: 16px;
    color: #2C2D2F;
  }
}

.ios {
  .ion-header ion-row {
    padding-top: 15px;
  }
}

ion-avatar {
  height: 50px;
  width: 50px;

  img {
    height: 50px;
    width: 50px;
    object-fit: scale-down;
  }
}

ion-item {
  margin-top: 10px;
}

ion-label {
  h3 {
    font-size: 15px;
    font-family: LatoBold;
  }

  p {
    font-size: 15px;
    font-family: LatoRegular;
  }
}
