<ion-header>
    <ion-toolbar>
        <ion-title>Welcome</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-text class="ion-padding ion-text-center">
        <h1>Welcome!</h1>
        <h2>Hi <span class="ion-text-capitalize">{{this.userName}}</span> and welcome to Simplify</h2>
        <p>It is helpers like yourself who simplify learning for others!</p>
        <p>You may keep the app closed and will be notified once your help is requested</p>
    </ion-text>
</ion-content>
